# Local env files
.env
.env.local
.env.*.local

# Dev certs & proxy
server/certs/
server/certs/*

# Dev / build artifacts
.tsbuildinfo
tsconfig.tsbuildinfo
.next/
node_modules/
dist/

# Crash dumps / logs
bash.exe.stackdump
*.log

# Editor / OS
.vscode/
.idea/
.DS_Store

# Private keys
*.pem
*.key